# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# Dataset (corpus)
# =========================
data/
*.txt
*.gz
*.bz2
*.zip

# =========================
# Trained models
# =========================
*.pkl
*.model
*.bin

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db